.product-show {
    .product-section {
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;

        @media screen(lg) {
            grid-template-columns: 60% 1fr;
            gap: 50px;
        }

        .image {
            min-height: 200px;
            position: relative;

            @media screen(lg) {
                height: 100%;
                min-height: 500px;
            }

            .badges {
                position: absolute;
                left: 20px;
                top: 20px;
                display: flex;
                gap: 10px;
            }
        }

        .product-info {
            display: flex;
            flex-direction: column;
            padding-block-end: 30px;
            & h1 {
                font-weight: 700;
                font-size: 20px;
                margin-block: 10px;
                @media screen(lg) {
                    font-size: 30px;
                    margin-block: 10px;
                }
            }

            .price {
                font-weight: 600;
                font-size: 18px;
                margin-block: 10px;

                @media screen(lg) {
                    font-size: 20px;
                    margin-block: 20px;
                }
            }

            .description {
                font-size: 16px;
                text-align: justify;
                display: none;

                @media screen(md) {
                    display: block;
                }
            }

            .buy-section {
                width: 100%;
                margin-block-start: 20px;
                display: flex;
                justify-content: space-between;
                gap: 20px;
                flex-direction: column;

                @media screen(lg) { 
                    margin-block-start: auto;
                    margin-inline-start: auto;
                    flex-direction: row;
                 }
            }

            .admin-buttons {
                display: flex;
                gap: 20px;
            }

            .buy-button {
                @media screen(md) {
                    width: fit-content;
                }

                & button {
                    width: 100%;

                    @media screen(md) {
                        width: fit-content;
                    }
                }
            }
        }
    }

    .description-section {
        padding-block: 20px;
        .description {
            font-size: 18px;
            text-align: justify;
        }
    }
}